

/* General */

* {
    /* color: #fff; */
    color: #000;
    scroll-behavior: smooth;
}

.main-background {
    /* background: linear-gradient(#434343, #000); */
    background-color: #fff;
    padding: 5vh 10vw;
    margin: 0;
}

@media screen and (min-width: 625px) {
    .main-background {
        padding: 20vh 10vw 0 10vw;
    }
    .sub-headers {
        font-size: 2rem;
        padding-top: 15vh;
    }
}

.sub-headers {
    text-align: center;
}

/* NavBar */

.navbar {
    position:fixed;
    bottom: 0;
    background: #ffffff;
    width: 100vw;
    height: fit-content;
    z-index: 1;
    border-top: 1px solid #000;
}

.mobile-navbar-container {
    display: flex;
    justify-content: space-evenly;
}

.mobile-navbar-btns {
    text-decoration: none;
    color: #fff;
    flex: 1;
    flex-direction: column;
    text-align: center;
    padding: 1vh 1vw;
}

.mobile-navbar-btns div p {
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 625px) {
    .navbar {
        top: 0;
        padding: 0;
        box-shadow: -3px 3px 20px #c0c0c0;
        background: #222;
    }
    .navbar ul {
        display: flex;
        text-align: center;
        align-items:first baseline;
        margin: 0;
        padding: 2vh 0 0 0;
    }
    .navbar ul a {
        color: #fff;
        text-decoration: none;
    }
    .navbar ul li:first-child {
        font-size: 3rem;
        padding: 0;
    }
    .navbar ul li {
        margin-top: 3vh;
        height: 5vh;
        width: fit-content;
        list-style-type: none;
        flex:content;
    }
    .navbar ul li, .navBar ul li:not(:first-child) {
        transition: font-size 1s, font-weight 1s, color 1s;
    }
    /* highlights current nav button that the user is hovering */
    .navbar ul li a:hover {
        font-weight: bold;
        color: #A8C5FF;
    }
    .navbar ul li:not(:first-child):hover {
        font-size: 2rem;
    }
}



/* Landing Section */

.landing-image-container {
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 50vw;
}

.flip-image {
    background-color: transparent;
    width: 50vw;
    height: 50vw;
    perspective: 1000px;
}

.flip-image-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
    box-shadow: 0 10px 20px #91b88c;
    border-radius: 50%;
    overflow: hidden;
}

.flip-image:hover .flip-image-inner {
    transform: rotateY(360deg);
}

.flip-image-front, .flip-image-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-image-front {
    background-color: #bbb;
    color: #000;
}

.flip-image-front img {
    width: 50vw;
    transform: translateY(-50px);
}

.flip-image-back {
    background-color: #A8C5FF;
    color: #fff;
    transform: rotateY(180deg);
}

@media screen and (min-width: 625px) {
    #top-of-page article p {
        font-size: 1.5rem;
    }
}

/* Education Section */

.education-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 50px;
    justify-content: center;
    text-align: center;
}

.each-education {
    width: 100%;
    height: 30vh;
    overflow: hidden;
    box-shadow: -3px 3px 10px #c0c0c0;
    border-radius: 8pt;
}

.school-picture {
    width: inherit;
    height: inherit;
    z-index: 0;
    opacity: .2;
}

.education-container div ul {
    z-index: 1;
    list-style-type: none;
    height: 30vh;
    width: 100%;
    transform: translateY(-31vh);
    background-color: #ffffffc9;
    margin: 0;
    padding: 20px 0 0 0;
}

.education-container ul li p {
    font-weight: 600;
    /* font-size: 1.5rem; */
    color: #000;
    letter-spacing: 1px;
    line-height: 50px;
    margin: 0;
}

@media screen and (min-width: 625px) {
    .education-container {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
    .education-container div ul {
        transform: translateY(-80px);
        background-color: #ffffffbf;
    }
    .each-education {
        width: 35vw;
        height: 30vh;
        overflow: hidden;
        box-shadow: -3px 3px 10px #c0c0c0;
        border-radius: 8pt;
        text-align: center;
    }
    .school-picture {
        width: inherit;
        height: inherit;
        z-index: 0;
        opacity: 1;
    }
    .each-education:hover > ul {
        transition: transform 1s , background-color 1s;
        transform: translateY(-200px);
        background-color: #fffffff3;
    }
}

/* Experience Section */

.experiences-section {
    margin: 0;
    padding: 0;
}

.company-logo {
    height: 10vh;
    margin: 20px 0;
    box-shadow: -3px 3px 10px #c0c0c0;
}

.vertical-timeline-element--work ul li {
    margin: .5rem;
}

.vertical-timeline-element-title, .timeline-logo, .vertical-timeline-element-subtitle {
    text-align: center;
}

/* Project Section */

.project-section {
    text-align: center;
}

.under-development {
    color: #ff0000;
}

/* Connect Section */

.connect-section {
    padding-bottom: 10vh;
}

.connect-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.connect-container a {
    text-decoration: none;
    padding: 10px 20px;
}

.each-connect {
    border-radius: 50%;
}

.each-connect div {
    background-color: transparent;
    padding: 10px 20px;
}

.connects-logo {
    height: 20vh;
    border-radius: 50%;
}

@media screen and (min-width: 625px) {
    .connect-container {
        padding: 10vh 5vw;
        flex-direction: row;
    }
    .each-connect {
        width: 50%;
        padding: 0;
    }
    .each-connect:hover > div .connects-logo {
        box-shadow: -3px 3px 50px #757575;
    }
    .each-connect:hover > div h1 {
        text-shadow: 0 0 30px #757575;
        text-decoration: underline 3px solid #000;
    }
}